# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:

1. python
2. R
3. C++
4. Julia

# Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. TensorFlow
4. Matplotlib
5. Scikit-learn

|data science tool|
|---------------|
|R studio|
|Anaconda|
|VS code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#  This will convert 200 minutes to hours by diving by 60
x=200
y=60
x/y

3.3333333333333335

# **Objectives**


* python
* R
* Julia

## Author
Mohammed Abdullahi Junior